[submodule "ntsim"]
	path = ntsim
	url = http://192.168.0.165:3000/alan/O1-interface-sim.git
[submodule "app/ONOS-DMaaP-agent"]
	path = app/ONOS-DMaaP-agent
	url = https://github.com/ast9501/ONOS-DMaaP-agent.git
[submodule "app/agent"]
	path = app/agent
	url = https://gitlab.com/ast9501/ODLUX-ONOS-agent.git
	branch = master
[submodule "app/Netconf-logger"]
	path = app/Netconf-logger
	url = https://github.com/ast9501/Netconf-logger.git
